header {
    background-image: linear-gradient(to right,blue, rgb(34, 0, 155));
    color: white;
    text-align: center;
    padding: 15px;
}

main {
    display: flex;
}

.search-box{
    display: flex;
    margin-left: 30px;
    max-width: 200px;
    flex-direction: column;
    justify-content: flex-start;
}

.searchbar{
    padding: 5px 10px;
}

.weather-data{
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 10px;
}

.today {
    display: block;
    margin-left: 50px;
    outline: solid;
    outline-color: black;
    outline-width: 2px;
    border-radius: 10px;
    padding-left: 50px;
    background-image:linear-gradient(to right, rgb(208, 235, 235),  rgb(174, 221, 240));
}

.forecastCard {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-image: linear-gradient(to right, rgb(208, 235, 235), rgb(174, 221, 240));
    outline: solid;
    outline-color: black;
    outline-width: 2px;
    border-radius: 5px;
}

.forecastSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left:50px;
}

#searchHistory li {
    list-style: none;
    background-color: gray;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
    color: white;
}